
@font-face {
    font-family: 'uni_sansregular';
    src: url('uni_sans_regular-webfont.woff2') format('woff2'),
         url('uni_sans_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: "uni_sansregular";
  background: black;
  color: white;
  font-size: 17;
}

button {
  background: black;
  color: white;
  border: 1px solid white;
  font-family: "uni_sansregular";
  font-size: 17;
}

* {box-sizing: border-box}

/* Style the tab */
.maintab {
  font-family: "uni_sansregular";
  float: left;
  border: 1px solid #ccc;
  background-color: #0e0e0e;
  width: 10%;
  height: 100%;
}

/* Style the buttons inside the tab */
.maintab button {
  font-family: "uni_sansregular";
  display: block;
  background-color: inherit;
  color: white;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.maintab button:hover {
  font-family: "uni_sansregular";
  background-color: #222;
}

/* Create an active/current "tab button" class */
.maintab button.active {
  font-family: "uni_sansregular";
  background-color: #333;
}

/* Style the tab content */
.maintabcontent {
  font-family: "uni_sansregular";
  float: left;
  border: 1px solid #333;
  width: 90%;
  height: 100%;
  border-left: none;
}

.tab {
  font-family: "uni_sansregular";
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #0e0e0e;
  color: white;
  width: 100%;
  height: 4%;
}

/* Style the buttons inside the tab */
.tab button {
  font-family: "uni_sansregular";
  background-color: inherit;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  font-family: "uni_sansregular";
  background-color: #333;
}

/* Create an active/current tablink class */
.tab button.active {
  font-family: "uni_sansregular";
  background-color: #222;
}

/* Style the tab content */
.tabcontent {
  font-family: "uni_sansregular";
  display: none;
  padding: 6px 12px;
  border: 1px solid #222  ;
  border-top: none;
  width: 100%;
  height: 96%;
}